<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@*@ViewBag.Title*@ Shopee Việt Nam | Mua và Bán Trên Ứng Dụng Di Động Hoặc Website</title>
    @Styles.Render("~/Content/css")
    <link href="~/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <nav>
        <div class="nav-1">
            <div class="nav1-left">
                <p>Kênh Người Bán</p>
                <span>|</span>
                @if (ViewBag.active == 1)
                {
                    <p>Trở thành Người bán Shopee</p>
                    <span>|</span>
                }

                <div class="app">
                    <p>Tải ứng dụng</p>
                    <div class="qr-code">
                        <img style="width: 186px; height: 186px;" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/d91264e165ed6facc6178994d5afae79.png" alt="Shopee QR code" />
                        <div class="store-app">
                            <img style="width: 70px; height: 17px;" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/39f189e19764dab688d3850742f13718.png" alt="App Store" />
                            <img style="width: 70px; height: 17px;" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f4f5426ce757aea491dce94201560583.png" alt="CH Play" />
                        </div>
                        <img style="width: 70px; height: 17px; margin: 10px 55px; " src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1ae215920a31f2fc75b00d4ee9ae8551.png" alt="Alternate Text" />
                    </div>
                </div>
                <span>|</span>
                <p>Kết nối</p>
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 210450.png" alt="Alternate Text" style="margin-right: 5px;" />
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 210508.png" />
            </div>

            <div class="nav1-right">
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 211448.png" alt="Alternate Text" />
                <div class="noti">
                    <p>Thông Báo</p>
                    <div class="noti-box">
                        <div class="noti-img">
                            <img class="noti-img-items" style="width: 100px; height: 100px;" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/99e561e3944805a023e87a81d4869600.png" alt="Thiên Lân" />
                            <div style="color: black;">Đăng nhập để xem Thông báo</div>
                        </div>
                        <div class="noti-sign">
                            <ul>
                                <li class="sign-items">Đăng ký</li>
                                <li class="sign-items">Đăng nhập</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 210533.png" alt="Alternate Text" />
                <p>Hỗ Trợ</p>
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 210545.png" alt="Alternate Text" />
                <p>Tiếng Việt</p>
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 210627.png" alt="Alternate Text" />
                <p>@Html.ActionLink("Đăng Ký", "Signup", "Login")</p>
                <span>|</span>
                <p>@Html.ActionLink("Đăng Nhập", "Login", "Login")</p>
            </div>
        </div>

        <div class="nav-2">
            <table>
                <tr>
                    <td style="width: 200px; height: 85px;">
                        <a href='@Url.Action("TrangChu", "Home")'>
                            <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-12 145101.png" style="width: 172px; height: 60px;" />
                        </a>
                    </td>
                    <td style="width: 840px; height: 85px;">
                        <div class="nav2-td2">
                            <ul>
                                <li>
                                    <div class="searchbar-input">
                                        <input type="search" name="srch" placeholder="Shopee bao ship 0Đ - Đăng ký ngay!" class="srch-text" />
                                        <button type="submit" name="btn" class="srch-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="nav2-td2-list">
                                        <p>Áo 0đ</p>
                                        <p>iPhone 1k Chính Hãng</p>
                                        <p>iPhone 1k</p>
                                        <p>Dép 0đ</p>
                                        <p>Dép 0 Đồng Nữ</p>
                                        <p>Hàng Bom Giá Rẻ 1k</p>
                                        <p>Săn Đồ 0đ</p>
                                        <p>Set Đồ</p>
                                        <p>Xe Điện Xmen Cũ</p>
                                        <p>Áo Khoác Nữ 1k</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="cart" style="width: 138px; height: 85px;">
                        @{ Html.RenderAction("PartialCart", "Cart");}
                    </td>
                </tr>
            </table>
        </div>
    </nav>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        <div class="foot-3">
            <table>
                <tr>
                    <td>
                        <div class="ul-f3">
                            <ul>
                                <li style="color: black; font-weight: bold; margin: 9px 0px;">CHĂM SÓC KHÁCH HÀNG</li>
                                <li>Trung Tâm Trợ Giúp</li>
                                <li>Shopee Blog</li>
                                <li>Shopee Mall</li>
                                <li>Hướng Dẫn Mua Hàng</li>
                                <li>Hướng Dẫn Bán Hàng</li>
                                <li>Thanh Toán</li>
                                <li>Shopee Xu</li>
                                <li>Vận Chuyển</li>
                                <li>Trả Hàng & Hoàn Tiền</li>
                                <li>Chăm Sóc Khách Hàng</li>
                                <li>Chính Sách Bảo Hành</li>
                                <li><img src="~/Content/Shopee/" alt="Alternate Text" /></li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                    <td class="pay-ship">
                        <div class="ul-f3">
                            <ul>
                                <li style="color: black; font-weight: bold; margin: 9px 0px;">THANH TOÁN</li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212029.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212047.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212059.png" />
                                </li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212105.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212111.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212120.png" />
                                </li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212131.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212138.png" />
                                </li>
                                <li style="color: black; font-weight: bold; margin: 9px 0px;">ĐƠN VỊ VẬN CHUYỂN</li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212833.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212847.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212857.png" />
                                </li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212905.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212913.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212919.png" />
                                </li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 212931.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 213258.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 213316.png" />
                                </li>
                                <li>
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 213331.png" />
                                    <img class="img-logo" src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 213344.png" />
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="ul-f3">
                            <ul>
                                <li style="color: black; font-weight: bold; margin: 9px 0px;">THEO DÕI CHÚNG TÔI TRÊN</li>
                                <li>
                                    <div style="display: flex;">
                                        <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214725.png" style="width: 22px; height: 25px; position: relative; top: 5px;" />
                                        <p>Facebook</p>
                                    </div>
                                    <div style="display: flex;">
                                        <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214733.png" style="width: 22px; height: 25px; position: relative; top: 5px;" />
                                        <p>Instagram</p>
                                    </div>
                                    <div style="display: flex;">
                                        <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214739.png" style="width: 22px; height: 25px; position: relative; top: 5px;" />
                                        <p>Linkedln</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="ul-f3">
                            <ul>
                                <li style="color: black; font-weight: bold; margin: 9px 0px;">TẢI ỨNG DỤNG SHOPEE NGAY</li>
                                <li>
                                    <table class="install">
                                        <tr>
                                            <td rowspan="3" style="width: 100px;"><img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214751.png" style="width: 90px; height: 90px;" /></td>
                                            <td><img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214800.png" style="width: 80px; height: 25px;" /></td>
                                        </tr>
                                        <tr>
                                            <td><img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214808.png" style="width: 80px; height: 25px;" /></td>
                                        </tr>
                                        <tr>
                                            <td><img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-21 214819.png" style="width: 80px; height: 25px;" /></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="foot-4">
            <p>© 2023 Shopee. Tất cả các quyền được bảo lưu.</p>
            <p>
                Quốc gia & Khu vực:
                Singapore |
                Indonesia |
                Đài Loan |
                Thái Lan |
                Malaysia |
                Việt Nam |
                Philippines |
                Brazil |
                México |
                Colombia |
                Chile
            </p>
        </div>

        <div class="foot-5">
            <div class="f5-div1">
                <p>CHÍNH SÁCH BẢO MẬT</p>
                <span>|</span>
                <p>QUY CHẾ HOẠT ĐỘNG</p>
                <span>|</span>
                <p>CHÍNH SÁCH VẬN CHUYỂN</p>
                <span>|</span>
                <p>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</p>
            </div>
            <div class="f5-div2">
                <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoCCDV.png" alt="Alternate Text" />
                <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoCCDV.png" alt="Alternate Text" />
                <img src="~/Content/Shopee/Ảnh chụp màn hình 2023-10-22 202559.png" alt="Alternate Text" style="width: 45px; height: 45px;" />
            </div>
            <div class="f5-div3">
                <p>Công ty TNHH Shopee</p>
                <p>Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
                <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
                <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
                <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
